header {
    margin: 0.5%;
    border-radius: 20px;
    background-color: #5C747A;
    width: 99%;
    height: 80px;
    display: flex;
}

header .headerLeft {
    width: 50%;
    height: 80px;
}

header .headerLeft p {
    font-size: 20px;
    color: white;
    margin: 30px;
}

header .headerRight {
    width: 50%;
    height: 80px;
}